{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <div class="main-container">
    {{ form_start(form) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}